In [1]:
#imports here
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import io
from PIL import Image
import time
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
#specify the path to chromedriver.exe (download and save on your computer)
PATH = "C:\\Users\\Administrator\\Desktop\\chromedriver.exe"

wd = webdriver.Chrome(PATH)

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_10996/2487939422.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  wd = webdriver.Chrome(PATH)

In [3]:
pages = np.arange(1,100,1)

In [4]:
chrome_options = webdriver.ChromeOptions()
prefs = {"profile.default_content_setting_values.notifications" : 2}
chrome_options.add_experimental_option("prefs",prefs)
wd = webdriver.Chrome(chrome_options=chrome_options)

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_10996/2965382482.py:4: DeprecationWarning: use options instead of chrome_options
  wd = webdriver.Chrome(chrome_options=chrome_options)

In [5]:
title=[]
price=[]
rating=[]
for page in pages:
    wd.get("https://www.daraz.com.bd/smartphones/?page="+str(page)+"&spm=a2a0e.home.cate_1.1.735212f7kD2TtJ")
    soup = BeautifulSoup(wd.page_source, 'html.parser')
    data = soup.findAll('div', attrs = {'class': 'c2prKC'})
    for store in data:
        titles=store.find('div',attrs={'class':'c16H9d'}).text
        prices=store.find('span',attrs={'class':'c13VH6'}).text
        ratings=store.find('div',attrs={'class':'c15YQ9'}).text


    #titleloop=[title.text for title in titles]
        title.append(titles)
    #priceloop=[price.text for price in prices]
        price.append(prices)
    #ratingloop=[rating.text for rating in ratings]
        rating.append(ratings)

In [6]:
data = pd.DataFrame({ "Name":title, "Price" : price, "Rating": rating})

In [7]:

data

,Name,Price,Rating
0,realme C21Y - 4GB RAM / 64GB ROM,"৳ 12,322",(209)Bangladesh
1,Realme 8 - 8GB RAM / 128GB ROM - 5000 mAh Battery,"৳ 21,930",(204)Bangladesh
2,realme 9i (4GB+64GB),"৳ 16,847",(37)Bangladesh
3,Realme C25S - 4Gb / 128Gb 6000Mah Battery,"৳ 15,342",(312)Bangladesh
4,realme C25Y - (4GB Ram /64GB Rom),"৳ 13,291",(235)Bangladesh
...,...,...,...
843,invens MAX3 Smartphone,"৳ 4,170",(2)Bangladesh
844,Invens Maxtop1 2GB RAM Smartphone,"৳ 4,170",(2)Bangladesh
845,invens Royal R2 Smartphone,"৳ 3,499",(1)Bangladesh
846,BiRD F07 Smartphone,"৳ 3,299",(4)Bangladesh
847,BiRD Smartphone E5018 4G Mobile,"৳ 4,490",Bangladesh

In [8]:
import pandas as pd
import string

#nltk
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk import tokenize
from nltk.corpus import subjectivity
from nltk.sentiment import SentimentAnalyzer, SentimentIntensityAnalyzer
from nltk.sentiment.util import *

#sci-kit learn
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import numpy as np
nltk.download('stopwords')
stop = stopwords.words('english')
from nltk.stem import WordNetLemmatizer
wordnet= WordNetLemmatizer()
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [9]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

In [10]:
def lower(text):
    return text.lower()

In [11]:
def tokenization(text):
    tokens =  nltk.word_tokenize(text)
    return tokens

In [12]:
def remove_stopWord(text):
    output=[i for i in text if i not in stop]
    return output

In [13]:
def lemmatizer(words):
    return [wordnet.lemmatize(word) for word in words]

In [14]:
def preprocess(text):
    text1=remove_punctuation(text)
    text2=lower(text1)
    word=tokenization(text2)
    words=remove_stopWord(word)
    final=lemmatizer(words)
    return final

In [15]:
data['Name']=data['Name'].apply(lambda x:x.lower())

In [16]:
data["Name"]=data["Name"].apply(lambda x: preprocess(x))

In [17]:
data

,Name,Price,Rating
0,"[realme, c21y, 4gb, ram, 64gb, rom]","৳ 12,322",(209)Bangladesh
1,"[realme, 8, 8gb, ram, 128gb, rom, 5000, mah, b...","৳ 21,930",(204)Bangladesh
2,"[realme, 9i, 4gb64gb]","৳ 16,847",(37)Bangladesh
3,"[realme, c25s, 4gb, 128gb, 6000mah, battery]","৳ 15,342",(312)Bangladesh
4,"[realme, c25y, 4gb, ram, 64gb, rom]","৳ 13,291",(235)Bangladesh
...,...,...,...
843,"[invens, max3, smartphone]","৳ 4,170",(2)Bangladesh
844,"[invens, maxtop1, 2gb, ram, smartphone]","৳ 4,170",(2)Bangladesh
845,"[invens, royal, r2, smartphone]","৳ 3,499",(1)Bangladesh
846,"[bird, f07, smartphone]","৳ 3,299",(4)Bangladesh
847,"[bird, smartphone, e5018, 4g, mobile]","৳ 4,490",Bangladesh

In [18]:
data[["Rating","new"]]=data['Rating'].str.split("B", expand=True)
data

,Name,Price,Rating,new
0,"[realme, c21y, 4gb, ram, 64gb, rom]","৳ 12,322",(209),angladesh
1,"[realme, 8, 8gb, ram, 128gb, rom, 5000, mah, b...","৳ 21,930",(204),angladesh
2,"[realme, 9i, 4gb64gb]","৳ 16,847",(37),angladesh
3,"[realme, c25s, 4gb, 128gb, 6000mah, battery]","৳ 15,342",(312),angladesh
4,"[realme, c25y, 4gb, ram, 64gb, rom]","৳ 13,291",(235),angladesh
...,...,...,...,...
843,"[invens, max3, smartphone]","৳ 4,170",(2),angladesh
844,"[invens, maxtop1, 2gb, ram, smartphone]","৳ 4,170",(2),angladesh
845,"[invens, royal, r2, smartphone]","৳ 3,499",(1),angladesh
846,"[bird, f07, smartphone]","৳ 3,299",(4),angladesh
847,"[bird, smartphone, e5018, 4g, mobile]","৳ 4,490",,angladesh

In [19]:
data.drop("new", axis=1, inplace=True)

In [20]:
data

                                                  Name     Price Rating
0                  [realme, c21y, 4gb, ram, 64gb, rom]  ৳ 12,322  (209)
1    [realme, 8, 8gb, ram, 128gb, rom, 5000, mah, b...  ৳ 21,930  (204)
2                                [realme, 9i, 4gb64gb]  ৳ 16,847   (37)
3         [realme, c25s, 4gb, 128gb, 6000mah, battery]  ৳ 15,342  (312)
4                  [realme, c25y, 4gb, ram, 64gb, rom]  ৳ 13,291  (235)
..                                                 ...       ...    ...
843                         [invens, max3, smartphone]   ৳ 4,170    (2)
844            [invens, maxtop1, 2gb, ram, smartphone]   ৳ 4,170    (2)
845                    [invens, royal, r2, smartphone]   ৳ 3,499    (1)
846                            [bird, f07, smartphone]   ৳ 3,299    (4)
847              [bird, smartphone, e5018, 4g, mobile]   ৳ 4,490

[848 rows x 3 columns]

In [21]:
def replace(text):
    return re.sub(r'','',text)

In [22]:
data["Rating"]=data["Rating"].apply(lambda x: replace(x))

In [23]:
data

                                                  Name     Price Rating
0                  [realme, c21y, 4gb, ram, 64gb, rom]  ৳ 12,322  (209)
1    [realme, 8, 8gb, ram, 128gb, rom, 5000, mah, b...  ৳ 21,930  (204)
2                                [realme, 9i, 4gb64gb]  ৳ 16,847   (37)
3         [realme, c25s, 4gb, 128gb, 6000mah, battery]  ৳ 15,342  (312)
4                  [realme, c25y, 4gb, ram, 64gb, rom]  ৳ 13,291  (235)
..                                                 ...       ...    ...
843                         [invens, max3, smartphone]   ৳ 4,170    (2)
844            [invens, maxtop1, 2gb, ram, smartphone]   ৳ 4,170    (2)
845                    [invens, royal, r2, smartphone]   ৳ 3,499    (1)
846                            [bird, f07, smartphone]   ৳ 3,299    (4)
847              [bird, smartphone, e5018, 4g, mobile]   ৳ 4,490

[848 rows x 3 columns]

In [24]:
def replace(text):
    return re.sub(r'৳','',text)

In [25]:
data["Price"]=data["Price"].apply(lambda x: replace(x))

In [26]:
data

                                                  Name    Price Rating
0                  [realme, c21y, 4gb, ram, 64gb, rom]   12,322  (209)
1    [realme, 8, 8gb, ram, 128gb, rom, 5000, mah, b...   21,930  (204)
2                                [realme, 9i, 4gb64gb]   16,847   (37)
3         [realme, c25s, 4gb, 128gb, 6000mah, battery]   15,342  (312)
4                  [realme, c25y, 4gb, ram, 64gb, rom]   13,291  (235)
..                                                 ...      ...    ...
843                         [invens, max3, smartphone]    4,170    (2)
844            [invens, maxtop1, 2gb, ram, smartphone]    4,170    (2)
845                    [invens, royal, r2, smartphone]    3,499    (1)
846                            [bird, f07, smartphone]    3,299    (4)
847              [bird, smartphone, e5018, 4g, mobile]    4,490

[848 rows x 3 columns]

In [27]:
data.dtypes

Name      object
Price     object
Rating    object
dtype: object

In [28]:
def replace(text):
    return re.sub(r',','',text)

In [29]:
data["Price"]=data["Price"].apply(lambda x: replace(x))

In [30]:
data.Price = data.Price.astype(int)

In [31]:
data.drop(data[data['Price'] < 5000].index, inplace = True)

In [32]:
data

                                                  Name  Price Rating
0                  [realme, c21y, 4gb, ram, 64gb, rom]  12322  (209)
1    [realme, 8, 8gb, ram, 128gb, rom, 5000, mah, b...  21930  (204)
2                                [realme, 9i, 4gb64gb]  16847   (37)
3         [realme, c25s, 4gb, 128gb, 6000mah, battery]  15342  (312)
4                  [realme, c25y, 4gb, ram, 64gb, rom]  13291  (235)
..                                                 ...    ...    ...
832           [walton, primo, n4, 4gb, ram, 64gb, rom]  15000
833                       [infinix, hot, 10, 4128, gb]  13990    (2)
834             [oppo, f19, pro, 8gb128gb, led, flash]  24990    (2)
835  [zgpax, s99, 3g, smartwatch, phone, android, 5...   5990
836  [samsung, galaxy, m40, smartphone, 63, 6gb, ra...  29798

[651 rows x 3 columns]

In [33]:
data['Name'] = data.Name.apply(lambda x: ' '.join(x))

In [34]:
data

                                                  Name  Price Rating
0                         realme c21y 4gb ram 64gb rom  12322  (209)
1          realme 8 8gb ram 128gb rom 5000 mah battery  21930  (204)
2                                    realme 9i 4gb64gb  16847   (37)
3                realme c25s 4gb 128gb 6000mah battery  15342  (312)
4                         realme c25y 4gb ram 64gb rom  13291  (235)
..                                                 ...    ...    ...
832                   walton primo n4 4gb ram 64gb rom  15000
833                             infinix hot 10 4128 gb  13990    (2)
834                    oppo f19 pro 8gb128gb led flash  24990    (2)
835  zgpax s99 3g smartwatch phone android 51 quad ...   5990
836  samsung galaxy m40 smartphone 63 6gb ram 128gb...  29798

[651 rows x 3 columns]

In [35]:
print(data.dtypes)
data["Price"]=data["Price"].astype(np.object)
print(data.dtypes)

Name      object
Price      int32
Rating    object
dtype: object
Name      object
Price     object
Rating    object
dtype: object

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_10996/4152308441.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data["Price"]=data["Price"].astype(np.object)

In [36]:
data.dtypes

Name      object
Price     object
Rating    object
dtype: object

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import classification_report

In [38]:
tfidf=TfidfVectorizer(max_features=10000)

In [39]:
y=data["Price"]
x=data["Name"]

In [40]:
x=tfidf.fit_transform(x)

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [42]:
clf=DecisionTreeRegressor()

In [43]:
clf.fit(x_train,y_train)

DecisionTreeRegressor()

In [44]:
y_pred=clf.predict(x_test)

In [45]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9999992443101434

In [46]:
tf='INFINIX HOT 11S'
vc=tfidf.transform([tf])

In [47]:
clf.predict(vc)

array([14990.])